<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://pwsocoachesfunctons.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d08dbaf3-3abe-4fb5-a42c-9459e58cc9cd/resourcegroups/PwsoGroup/providers/Microsoft.Web/sites/PwsoCoachesFunctons</ResourceId>
    <UserName>$PwsoCoachesFunctons</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://pwsocoachesfunctons.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>